.card {
    max-width: 200px;
}

.picture-content {
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
}

.container {
    background-color: rosybrown;
}